$SFProDisplay-Regular: 'SFProDisplay-Regular', sans-serif;
$SFProDisplay-Medium: 'SFProDisplay-Medium', sans-serif;
$SFProDisplay-Semibold: 'SFProDisplay-Semibold', sans-serif;
$CloserText-Regular: 'CloserText-Regular', sans-serif;
$CloserText-Medium:'CloserText-Medium', sans-serif;
$FontSizeText: 16px;
$LineHeightText: 22px;
$ColorText: #323031;
$BgColorMain: #fff;
$BtnBgColor: #984A8A;
$BtnBgColorHover:#C463B2;

